{% extends 'main.html.twig' %}

{% block viewContainer %}
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-form-label-lg">
            <label class="text-muted">{{ form_label(form.title) }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="input-group">
                {{ form_widget(form.title) }}
                <div class="input-group-append">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock viewContainer %}